
.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 715px;
    background-image: url("../../splash.jpg");
    background-size: cover;
}

.avatar {
    height: 100%;
    width: 250px;
    background-color: indigo;
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    height: 100%;
    width: calc(100% - 550px);
    border-radius: 20px;
    border-color: #AA77FF;
    border-width: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.discussion {
    width: 20%;
    height: 100%;
    border-right-width: 2px;
    border-color: gray;
}

.info {
    height: 100%;
    width: 300px;
}

.message {

}